.sos-container {
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    min-height: 100vh;
  }
  
  h2 {
    color: #d9534f;
  }
  
  input {
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%;
  }
  
  

  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    margin: 5px 0;
  }
  
  .sos-button {
    font-size: 20px;
    
  }
  